
.idea/brasileiras_em_dublin.iml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.DS_Store
.idea/brasileira-blog.iml
.DS_Store
.DS_Store
.DS_Store
.DS_Store
