<section class="tm-mb-80 tm-p-50 tm-bgcolor-2 tm-border-rounded">
			<div class="tm-flex-center">
				<h2>Sobre Mim</h2>
			</div>
			<div class="tm-about-text">
				<p class="tm-mb-40">Oi, eu sou Amanda. Depois de me mudar para a Irlanda em 2019, eu passei por varios apertos e ciladas. Essas situacoes me motivaram,
					junto da minha amiga Tatiana,
					a comecar o grupo Brasileiras em Dublin no Whatsapp. Como todos os dias as mesmas duvidas sempre
					aconteciam no grupo eu passei a escrever manuais no
					Google drive e compartilhar os PDFs com as meninas.
					Depois passei a publicar esses manuais usando o linktr.ee e hoje estou disponibilizando eles aqui.</p>
				<p class="tm-mb-0"></p>
			</div>
		</section>